.parallax {
    background-image: url("../images/image.jpg");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.me{
  text-align: center;
}
.al{
  text-align: center;

}
.we{
  color: silver;
}
.satic{
  background-image: url("../images/image4.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}
.but{
  text-align: justify;
}
