.parallax {
    background-image: url("../images/image.jpg");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.me{
  text-align: center;
}
.al{
  text-align: center;

}
.parallaax {
    background-image: url("../images/me.jpg");
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
